<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% completion = @task.completed ? "completed" : "not completed yet" %>
<p><%= check_box_tag(@task.title, 1, @task.completed) %> <span>This task is <%= completion %></span></p>
<%= link_to "Back to list", tasks_path %>
